/* ARQUIVO ROTEADOR E VARIÁVEIS GLOBAIS - DARK MODE */
@import url('header.css');
@import url('loja.css');
@import url('colecao.css');
@import url('includedit.css');

:root {
    --bg-color: #121212;
    --card-bg: #1e1e1e;
    --text-primary: #e0e0e0;
    --text-secondary: #b0b0b0;
    --accent-color: #bb86fc;
    --border-color: #333333;

    /* PALETA SEMÂNTICA PADRÃO - V2.2.0 */
    --action-positive: #338d33;    /* Sucesso / Gravar / Editar */
    --action-destructive: #ff3838; /* Cancelar / Apagar / Descartar */
    --action-neutral: #3c3cff;     /* Outras ações / Primário */
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
}